<h3>When</h3>
@defer (when dataReady) {
<p>Data has been charged</p>
}@placeholder {
<p>Meanwhile data is not available</p>
}

<h3>Idle</h3>
@defer (on idle) {
<p>Large Component loaded after everything is loaded and the browser is idle</p>
}@placeholder {
<p>Meanwhile data is not available</p>
}

<h3>Interaction</h3>
@defer (on interaction) {
<p>I was loaded cause they interacted with me</p>
}@placeholder {
<div [style]="{ backgroundColor: '#999ff9' }">
  Meanwhile data is not available (Click here!)
</div>
}

<h3>interactionElement</h3>
<button #interactionElement>Interact</button>
@defer (on interaction(interactionElement)) {
<p>I was loaded cause you interacted with interactionElement</p>
}@placeholder {
<p>Meanwhile data is not available</p>
}

<h3>Hover</h3>
@defer (on hover) {
<p>I was loaded cause they hovered over me</p>
}@placeholder {
<div [style]="{ backgroundColor: '#efffff' }">
  Meanwhile data is not available (Hover here!)
</div>
}

<h3>hoverElement</h3>
<div #hoverElement>Hover over here!</div>
@defer (on hover(hoverElement)) {
<p>I was loaded cause you hovered over hoverElement</p>
}@placeholder {
<p>Meanwhile data is not available</p>
}

<h3>Timer</h3>
@defer (on timer(1s)) {
<p>I was loaded cause 1s has passed</p>
}@placeholder {
<div>Meanwhile data is not available (visible only for 1s)</div>
}

<h3>Prefetch</h3>
@defer (on interaction; prefetch on idle) {
<p>I was loaded they interacted with me or the browser was idle</p>
}@placeholder {
<div>Meanwhile data is not available</div>
}

<h3>Viewport</h3>
@defer (on viewport) {
<p>Large Component loaded after it appeared inside the viewport</p>
}@placeholder {
<p>Meanwhile data is not available (with the size of the element to replace)</p>
}

<h3>triggerElement</h3>
<div [style]="{ backgroundColor: '#f99ff9' }" #triggerElement>
  Trigger element
</div>
@defer (on viewport(triggerElement)) {
<p>I was loaded cause triggerElement has appeared inside the viewport</p>
}@placeholder {
<p>Meanwhile data is not available</p>
}