@defer (when isVisible) {
  <div><img src="https://c4.wallpaperflare.com/wallpaper/611/838/413/spiderman-hd-4k-superheroes-wallpaper-preview.jpg" alt="Differ image"></div>
}@placeholder {
    <!-- This helps with the content layout shift -->
  <p>While there's no content...</p>
}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam fugit incidunt dolorum, dolorem quibusdam, quisquam vero saepe, debitis aliquam asperiores officia atque deleniti velit aperiam? Earum iste itaque excepturi facilis nam nostrum eos, atque dignissimos officiis autem soluta quo asperiores officia, perspiciatis aut dolore consectetur reiciendis. Odit, veritatis? Optio aspernatur, consectetur, sapiente consequuntur, illum aliquam facilis voluptates numquam deleniti officia ratione inventore unde dignissimos eius fugiat sequi natus quibusdam neque doloribus dolorum sunt? Ad porro, cum fugiat ut blanditiis provident, eius temporibus quas itaque harum quia veritatis omnis quibusdam similique dolorum officia libero nulla. Dignissimos voluptate iure quae dicta esse!