<article>
  <h1>For block</h1>
  <section [style]="{ backgroundColor: '#1231a1', color: 'white' }">
    <ng-container *ngFor="let person of people; let i = index">
      <span class="card">
        <h3>{{ person.name }}</h3>
        <h4>{{ person.age }}</h4>
      </span>
    </ng-container>
  </section>

  <section [style]="{ backgroundColor: '#00ED00' }">
    <h3>
      Now we can use two structural directives at the same time. But now it's
      mandatory to use track property to use for block.
    </h3>
    @for(person of people; track person.id; let i =$index, e=$even, o=$odd,
    f=$first, l=$last) {
    <span class="card">
      @if(e){
      <small>Even</small>
      } @if(o){
      <small>Odd</small>
      }
      <h3>{{ person.name }}</h3>
      <h4>{{ person.age }}</h4>
    </span>
    } @empty {
    <h3>There is no data</h3>
    }
  </section>
</article>
